[Desktop Entry]
Version=1.1
Type=Application
Name=CodeBlocks
Name[hu]=CodeBlocks
Comment=C++ IDE
Comment[hu]=C++ fejlesztői környezet
GenericName[hu]=C++ fejlesztői környezet
Exec=codeblocks
Icon=/usr/share/pixmaps/codeblocks.png
Terminal=false
Categories=Development;IDE;X-UHU-Menu/Development/Programming;
