[Desktop Entry]
Encoding=UTF-8
Categories=X-UHU-Menu/Games/Arcade;
Exec=tomatoes
GenericName=Tomatoes
GenericName[hu]=Paradicsomok
Icon=tomatoes
Name=Tomatoes
Type=Application
