[Desktop Entry]
Version=1.1
Type=Application
Name=Bas
Comment=BASIC interpreter
Comment[hu]=BASIC interpreter
GenericName[hu]=BASIC interpreter
Exec=bas
Icon=
Terminal=true
Categories=X-UHU-Menu/Development/Programming;
