[Desktop Entry]
Type=Application
Name=Xeno
GenericName=Xeno
GenericName[hu]=gomb pöckölő
Comment=ZX Xeno
Icon=xeno
Exec=xeno
StartupNotify=true
Categories=Game;ArcadeGame;
