[Desktop Entry]
Version=1.1
Name=Foxit Reader
MimeType=application/pdf;application/vnd.fdf;application/vnd.adobe.pdx;application/vnd.adobe.xdp+xml;application/vnd.adobe.xfdf;
Exec=foxit %F
Type=Application
DocPath=
GenericName=PDF Viewer
GenericName[da]=PDF-fremviser
GenericName[de]=PDF-Betrachter
GenericName[es]=Visor de documentos PDF
GenericName[fi]=PDF-Näyttäjä
GenericName[fr]=Afficheur PDF
GenericName[hu]=PDF-megjelenítő
GenericName[it]=Visualizzatore PDF
GenericName[ja]=PDFビューア
GenericName[ko]=PDF 보기
GenericName[nl]=PDF-weergaveprogramma
GenericName[nn]=PDF-lesar
GenericName[pt_BR]=Visualizador de arquivos PDF
GenericName[sv]=PDF-visare
GenericName[zh_CN]=PDF 查看器
GenericName[zh_TW]=PDF 檢視程式
Comment[hu]=PDF-megjelenítő
Terminal=false
Icon=/usr/share/pixmaps/fx-icon.png
Caption=PDF Viewer
X-KDE-StartupNotify=false
Categories=Application;Office;Viewer;X-UHU-Menu/Tools/Viewers;
InitialPreference=7
