[Desktop Entry]
Type=Application
Name=megamario
GenericName=Mario Bros clone
GenericName[hu]=Mario Bros klón
Exec=megamario
Icon=megamario
StartupNotify=false
Categories=Game;ActionGame;X-UHU-Menu/Games/Action;
