[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Links
Comment=Text-mode Browser
Comment[hu]=Szöveges böngésző
Exec=links
Terminal=true
Categories=X-UHU-Menu/Internet/Browsers;
X-UHU-Major=-1
