[Desktop Entry]
Name=gFTP
Comment=Multithreaded ftp client
Comment[pt_BR]=Cliente FTP multi-tarefa
Comment[pl]=Wielozadaniowy klient FTP
Comment[nl]=Multithreaded ftp programma
Comment[fr]=Client ftp multithread
Comment[es]=Cliente FTP multihilo
Comment[de]=Multithreaded FTP Programm
Comment[da]=Flertrådet ftpklient
Comment[br]=Cliente de ftp multithreaded
Comment[hu]=Többszálas ftp-kliens
Exec=gftp-gtk %u
Icon=gftp
Terminal=false
Type=Application
Categories=Network;FileTransfer;
