[Desktop Entry]
Type=Application
Name=Aqualung
Comment=Gapless audio player with jack, alsa and oss support
Comment[hu]=Szünetmentes hanglejátszó
GenericName=Music Player
GenericName[hu]=Zenelejátszó
Exec=aqualung %f
Icon=aqualung
Terminal=false
Categories=GTK;AudioVideo;Audio;Player;
StartupNotify=true
