[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pingus
GenericName=Lemmings Clone
GenericName[hu]=Lemmings-klón
Comment=Save the Penguins
Comment[hu]=Mentsd meg a pingvineket
Exec=pingus
Icon=/usr/share/games/pingus/images/core/editor/actions.png
Categories=X-UHU-Menu/Games/Action;
