Summary=Connman Network Manager
Summary[hu]=Connman Hálózatkezelő
Description=Network connection manager and user applications
Description[hu]=Hálózati kapcsolat kezelő és programok
MsgDesc=Network Manager
MsgDesc[hu]=Hálózatkezelő
Script=/etc/init.d/connman
SupportsReload=no
Runlevels=345
Sequence=10
