[Desktop Entry]
Encoding=UTF-8
Categories=X-UHU-Menu/Games/Board;
Exec=mahjongg3d
GenericName=
GenericName[hu]=kőrakó
Icon=mahjongg3d
MimeType=
Name=Mahjonng3d
Type=Application
