[Desktop Entry]
Name=Dillo
Name[hu]=Dillo
Comment=Web browser
Comment[hu]=Böngésző
Exec=dillo
Icon=dillo
Terminal=false
Categories=Network;WebBrowser;
Type=Application
Hidden=false
StartupNotify=true
