[Desktop Entry]
Encoding=UTF-8
Name=Dillo
Name[hu]=Dillo
Comment=Web browser
Comment[hu]=Böngésző
Exec=dillo
Icon=
Terminal=false
Categories=X-UHU-Menu/Internet/Browsers;
Type=Application
Hidden=false
StartupNotify=true
