[Desktop Entry]
Name=guvcview
Name[hu]=guvcview
GenericName=GTK UVC video viewer
GenericName[hu]=GTK alapú webkamera képfelvevő program
Comment=A video viewer and capturer for the linux uvc driver
TryExec=guvcview
Exec=guvcview
Icon=guvcview
Terminal=false
Type=Application
Categories=GTK;GNOME;AudioVideo;Recorder;
StartupNotify=true
