[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=XQed
Comment=Quick Dictionary
Comment[hu]=Gyorsfordító szótárprogram
Exec=xqed
Categories=X-UHU-Menu/Tools/Dictionaries;
