[Desktop Entry]
Comment=
Exec=channeleditor
GenericName=VDR-hez
Icon=java
Name=Csatornalista szerkesztő
NoDisplay=false
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=X-UHU-Menu/Multimedia/TVRadio;
