[Desktop Entry]
Exec=channeleditor
Icon=java
Name=Channeleditor
Name[hu]=Csatornalista szerkesztő
Comment=Channeleditor for VDR
Comment[hu]=VDR-hez csatornalista szerkesztő
StartupNotify=false
Terminal=false
Type=Application
Categories=AudioVideo;Video;TV;
