[Desktop Entry]
Type=Application
Exec=gnome-shell --replace
Hidden=false
X-GNOME-Autostart-enabled=true
Name[hu_HU]=gnome-shell-replace
Name=gnome-shell-replace
Comment[hu_HU]=
Comment=
X-MATE-Autostart-enabled=false
OnlyShowIn=GNOME
X-Cinnamon-Autostart-enabled=false
