[Desktop Entry]
Name=evolvotron
Exec=evolvotron
Terminal=false
Icon=/usr/share/pixmaps/evolvotron.jpg
Type=Application
Categories=Graphics;2DGraphics;
