[Desktop Entry]
Version=1.1
Type=Application
Name=Cream
GenericName=Cream Text Editor
Comment=Cream (for Vim) text editor
Comment[hu]=Cream szövegszerkesztő (Vim makrókészlet)
Exec=cream %F
Icon=/usr/share/pixmaps/cream.png
Terminal=false
MultipleArgs=false
Categories=X-UHU-Menu/Tools/Editors;
