[Desktop Entry]
Comment=the digger game, cloned and remastered with additional features
Comment[hu]=Az újraírt digger, bővített lehetőségekkel
Categories=Game;ActionGame;X-UHU-Menu/Games/Action;
Exec=digger "/A"
GenericName=Digger
GenericName[hu]=aranyász
Icon=digger
Name=digger
Type=Application
