[Desktop Entry]
Comment=the digger game, cloned and remastered with additional features
Comment[hu]=A digger !
Encoding=UTF-8
Categories=X-UHU-Menu/Games/Action;
Exec=digger "/A"
GenericName=Digger
GenericName[hu]=kincsgyűjtés
Icon=digger
Name=digger
Type=Application
