[Desktop Entry]
Name=digger
Type=Application
Comment=the digger game, cloned and remastered with additional features
Comment[hu]=Az újraírt digger, bővített lehetőségekkel
Categories=Game;ArcadeGame;
Exec=digger "/A"
GenericName=Digger
GenericName[hu]=aranyász
Icon=digger
