[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=XBlast
Comment=Blast the Others game (command line setup)
Comment[hu]=Robbantsd fel a többieket (régi változat, parancssori indítás)
Exec=xblast
Terminal=true
Icon=/usr/share/pixmaps/xblast-bomb.png
Categories=X-UHU-Menu/Games/Action;
