[Desktop Entry]
Version=1.1
Type=Application
Name=KompoZer
GenericName=Web Authoring System
GenericName[hu]=Világhálózati szerkesztő rendszer
Comment=WYSIWYG Web Editor
Comment[hu]=WYSIGWYG világhálózati szerkesztő
Icon=kompozer
Exec=kompozer
Terminal=false
StartupNotify=true
MimeType=text/html;text/xml;text/css;text/x-javascript;text/javascript;application/xhtml+xml;
Categories=Development;WebDevelopment;Network;X-UHU-Menu/Development/Web;
