[Desktop Entry]
Version=1.1
Type=Application
Name=Alien8
Icon=Alien8
Exec=Alien8
Terminal=false
StartupNotify=true
Categories=Game;ArcadeGame;X-UHU-Menu/Games/Arcade;
