[Desktop Entry]
Type=Application
Name=Eric4
GenericName=Python IDE
Comment=Eric4 Python IDE
Comment[hu]=Python fejlesztő környezet
Exec=eric4
Icon=eric
Terminal=false
Categories=Qt;Development;IDE;
StartupNotify=false
