[Desktop Entry]
Encoding=UTF-8
Categories=X-UHU-Menu/Games/Action;
Exec=skater
GenericName[hu]=allegro demonstrációs gördeszka játék
Name=Skater Demo
Name[hu]=Gördeszka demó
Type=Application
