[Desktop Entry]
Version=1.1
Name=Conky
Comment=System monitor
Comment[hu]=rendszer monitor
Exec=conky
Terminal=false
Type=Application
Icon=
Categories=X-UHU-Menu/Tools/Utilities;
