[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=X128
Comment=C128 emulator
Comment[hu]=C128 emulátor
Exec=x128
Icon=VICE
Categories=X-UHU-Menu/Tools/Emulators;
