[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=XPlus4
Comment=C= Plus4 emulator
Comment[hu]=C= Plus4 emulátor
Exec=xplus4
Icon=VICE
Categories=X-UHU-Menu/Tools/Emulators;
