[Desktop Entry]
Encoding=UTF-8
Name=VNCviewer
Comment=VNC Client
Comment[hu]=VNC kliens
Icon=vnc
Exec=vncviewer
Type=Application
Categories=Network;RemoteAccess;
