[Desktop Entry]
Type=Application
Name=Goody
GenericName=Goody
GenericName[hu]=Goody a betörő
Icon=goody
Exec=goody
StartupNotify=true
Terminal=false
Categories=Game;ActionGame;
