[Desktop Entry]
Name=Otter
Type=Application
Icon=applications-internet
Categories=Network;WebBrowser;X-UHU-Menu/Internet/Browsers;
Comment=A fast and secure web browser
Comment[hu]=Egy biztonságos gyors webböngésző
GenericName=Web Browser
GenericName[hu]=Webböngésző
Exec=otter-browser %u
MimeType=text/html;text/xml;application/xhtml+xml;
Terminal=false
