[Desktop Entry]
Name=HoH
GenericName=Head over Hells
Comment[hu]=Klasszikus solid 3d játék
Exec=hoh -bgr
Icon=/usr/share/doc/Packages/HoH/gfx/icon-1.gif
StartupNotify=false
Type=Application
Categories=Game;ActionGame;X-UHU-Menu/Games/Action;
