[Desktop Entry]
Type=Application
Name=le
GenericName=Text Editor
GenericName[hu]=Szövegszerkesztő
Comment=Console Text Editor
Comment[hu]=Terminálban futó szövegszerkesztő
Exec=le %f
Terminal=true
Categories=X-UHU-Menu/Tools/Editors;
X-UHU-Major=-1
