[Desktop Entry]
Version=1.1
Name=CUIterm
Comment=Composite User Interface
Comment[hu]=grafikus parancssor
Exec=cuiterm
Terminal=false
Type=Application
Icon=cuiterm.png
Categories=X-UHU-Menu/Tools/Utilities;
