[Desktop Entry]
Encoding=UTF-8
Categories=X-UHU-Menu/Games/Action/smw;
Exec=smw
Icon=smw
Name=Super Mario War
Name[hu]=Szuper Mario párbaj
Type=Application
