[Desktop Entry]
Name=Cinelerra 
Name[hu]=Cinelerra
Comment=Video Editor
Comment[hu]=Videó szerkesztő
Categories=AudioVideo;AudioVideoEditing;
Exec=cinelerra
Icon=/usr/share/pixmaps/cinelerra.xpm
Terminal=false
Type=Application
