[Desktop Entry]
Name=vdr
GenericName=Video Disk Recorder
Comment=VDR launcher
Comment[hu]=VDR indító
Exec=vdrlaunch
Type=Application
Categories=AudioVideo;TV;
Icon=vdr
Terminal=true
