[Desktop Entry]
Encoding=UTF-8
Name=vdr
Comment=vdr launcher
Comment[hu]=vdr indító szkript
Exec=vdrlaunch
Type=Application
Categories=X-UHU-Menu/Multimedia/TVRadio;
GenericName=VDR
Genericname[hu]=VDR személyreszabottan
Icon=vdr
Terminal=true
X-KDE-SubstituteUID=false
