[Desktop Entry]
Name=vdr
GenericName=Video Disk Recorder
Genericname[hu]=VDR személyreszabottan
Comment=VDR launcher
Comment[hu]=vdr indító
Exec=vdrlaunch
Type=Application
Categories=AudioVideo;TV;X-UHU-Menu/Multimedia/TVRadio;
Icon=vdr
Terminal=true
