[Desktop Entry]
Encoding=UTF-8
Categories=X-UHU-Menu/Games/Action;
Exec=worminator
GenericName=Worminator
Icon=worminator
MimeType=
Name=Worminator
Type=Application
