[Desktop Entry]
Type=Application
Name=Heroes
Icon=heroes-1.xpm
Exec=heroes -F
Tryexec=padsp heroes
Terminal=false
StartupNotify=true
Categories=Game;ArcadeGame;X-UHU-Menu/Games/Arcade;
