[Desktop Entry]
Type=Application
Name=wolf3d-full-gt-id-activision-v14
Exec=wolf3d-full-gt-id-activision-v14
Icon=wolf3d
Terminal=true
Categories=Game;ActionGame;X-Wolf4sdl;
