[Desktop Entry]
Type=Application
Name=wolf3d-shareware-v11
Exec=wolf3d-shareware-v11
Icon=wolf3d
Terminal=true
Categories=Game;ActionGame;X-Wolf4sdl;
