[Desktop Entry]
Version=1.1
Type=Application
Name=deflektor
Icon=deflektor
Exec=deflektor
Terminal=false
StartupNotify=true
Categories=Game;StrategyGame;X-UHU-Menu/Games/TacticStrategy;
