[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Bino
GenericName=3D Player
Exec=bino
Icon=bino.png
Categories=X-UHU-Menu/Multimedia/VideoPlayers;
