[Desktop Entry]
Name=GNOME ALSA Mixer
Comment=ALSA sound mixer for GNOME
Comment[hu]=ALSA keverő GNOME részére
Exec=gnome-alsamixer
Icon=gnome-alsamixer-icon.png
Terminal=false
Type=Application
Categories=Application;AudioVideo;X-UHU-Menu/Multimedia/Mixers;
StartupNotify=true
