[Desktop Entry]
Encoding=UTF-8
Name=akII
Comment=Client for HiX Arena Portal
Comment[hu]=Kliens a HiX Aréna Portálhoz
Exec=akii
Terminal=true
Type=Application
Categories=X-UHU-Menu/Internet/Messengers;
