[Desktop Entry]
Name=Cle4vdr
Name[hu]=vdr-csatornaszerkesztő
Comment=channel list editor for vdr
Comment[hu]=csatorna lista szerkesztő vdr -hez
Exec=cle4vdr
Terminal=false
Type=Application
Categories=Application;Office;X-UHU-Menu/Tools/Editors;
