[Desktop Entry]
Encoding=UTF-8
Name=Thunderbird
Comment=E-mail client
Comment[hu]=E-mail kliens
Exec=thunderbird
Icon=thunderbird
Terminal=false
Type=Application
GenericName=E-mail client
GenericName[hu]=E-mail kliens
Categories=Application;Network;Email;X-UHU-Menu/Internet/Email;
MimeType=x-scheme-handler/mailto;
