[Desktop Entry]
Name=Thunderbird
Exec=thunderbird
Icon=thunderbird
Terminal=false
Type=Application
GenericName=E-mail client
GenericName[hu]=E-mail kliens
Categories=Network;Email;X-UHU-Menu/Internet/Email;
MimeType=x-scheme-handler/mailto;
