[Desktop Entry]
Encoding=UTF-8
Categories=X-UHU-Menu/Games/Arcade;
Exec=vorton
GenericName=Highway Encounter
Icon=vorton
MimeType=
Name=Vorton
Type=Application
