[Desktop Entry]
Encoding=UTF-8
Name=XEphem
Comment=Astronomical Program
Comment[hu]=Csillagászati program
Exec=xephem
Type=Application
Categories=X-UHU-Menu/Edutainment/Science;
