[Desktop Entry]
Comment[hu]=Virtuális CI-CAM
Comment=Virtuális CI-CAM
Exec=sasc-ng -j 0:1 --cam-budget --sid-allpid --cam-dir /etc/camdir
Icon=sasc-ng
Name[hu]=sasc-ng
Name=sasc-ng
Terminal=true
Type=Application
Version=1.0
Categories=X-UHU-Menu/Multimedia/TVRadio;

