[Desktop Entry]
Comment=
Comment[hu]=béka nyelvöltögető
Encoding=UTF-8
Categories=X-UHU-Menu/Games/Arcade;
Exec=komi
GenericName[hu]=béka nyelvöltögető
Icon=komi
Name=komi
Type=Application