[Desktop Entry]
Comment=
Comment[hu]=élvezetes pacman klón
Encoding=UTF-8
Exec=njam
GenericName=Njam
GenericName[hu]=nyamm-nyamm
Icon=/usr/share/njam/njamicon.ico
MimeType=
Name=Njam
Name[hu]=Njam
Type=Application
Categories=X-UHU-Menu/Games/Action;
