[Desktop Entry]
Name=Njam
Name[hu]=Njam
GenericName=Njam
GenericName[hu]=nyamm-nyamm
Comment=
Comment[hu]=élvezetes pacman klón
Exec=njam
Icon=/usr/share/njam/njamicon.ico
Type=Application
Categories=Game;ActionGame;X-UHU-Menu/Games/Action;
Terminal=false
StartupNotify=true

