[Desktop Entry]
Version=1.1
Type=Application
Name=Ustunts Track Editor
Name[hu]=Ustunts pálya editor
Icon=ultimatestunts
Exec=ustuntstrackedit
Terminal=false
StartupNotify=true
Categories=X-UHU-Menu/Games/Arcade;
