[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=FreeCAD
Comment=A general purpose 3D CAD modeler
GenericName=CAD Application
Exec=/usr/bin/freecad %F
Path=/usr/lib/freecad/lib
Terminal=false
Type=Application
Icon=/usr/lib/freecad/data/freecad.xpm
Categories=Application;Science;Math;Education;X-UHU-Menu/Edutainment/Miscellaneous;
StartupNotify=true
MimeType=application/x-extension-fcstd;