[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=QT4 Assistant
Comment=QT4 Documentation Assistant
Comment[hu]=QT4 dokumentációs segéd
Exec=assistant-qt4
Categories=Qt;Development;X-UHU-Menu/Documentation;
