[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=QT4 Configuration
Name[hu]=QT4-beállító
Exec=qt4config
Categories=Qt;DesktopSettings;Settings;X-UHU-Menu/Settings;
