[Desktop Entry]
Version=1.1
Type=Application
Name=PDFedit
Comment=PDF editor
Comment[hu]=PDF editor
Exec=pdfedit
Icon=/usr/share/pixmaps/pdfedit.png
Terminal=false
Categories=X-UHU-Menu/Tools/Editors
