[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Descent II
Exec=descent2
Comment=Spacewar in the future
Comment[hu]=Űrháború egy labirintusban
Categories=X-UHU-Menu/Games/Action;
