[Desktop Entry]
Type=Application
Name=Spyder
GenericName=IDE
Comment=Spyder Python IDE
Exec=spyder
Icon=spyder.svg
Terminal=false
Categories=QT;Development;X-UHU-Menu/Development/Programming;
StartupNotify=false
