[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=bc
Comment=Arbitrary precision calculator
Comment[hu]=Tetszőleges pontosságú számológép
Exec=bc
Terminal=true
Categories=X-UHU-Menu/Tools/Calculators;
X-UHU-Major=-1
