[Desktop Entry]
Encoding=UTF-8
Name=xawtv
Comment=TV viewer
Comment[hu]=TV-néző program
Exec=xawtv
Icon=xawtv48x48.xpm
Type=Application
Categories=Application;AudioVideo;X-UHU-Menu/Multimedia/TVRadio;
