[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Xaos
Comment=Realtime fractalviewer
Comment[hu]=Valósidejű fraktálnézegető
Icon=xaos
Exec=xaos
Categories=X-UHU-Menu/Edutainment/Mathematics;
