[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=xfontsel
Comment=X Font Selector
Comment[hu]=Betűkészlet keresése
Exec=xfontsel
Categories=X-UHU-Menu/Tools/Utilities;
