Summary=Spamd
Summary[hu]=Spamd
Description=Spam filter daemon.
Description[hu]=Spamszűrő démon.
MsgDesc=Spam Filter Daemon
MsgDesc[hu]=Spamszűrő démon
Script=/etc/init.d/spamd
SupportsReload=no
Runlevels=
Sequence=19
