[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=EP128emu
GenericName=ep128
GenericName[hu]=ep128
Comment=ep128 emulator
Comment[hu]=ep128 emulátor
Exec=padsp ep128emu
Icon=ep128emu
Categories=X-UHU-Menu/Tools/Emulators/Ep128;



