[Desktop Entry]
Name=Dangerdeep
GenericName=Dangerdeep
GenericName[hu]=Veszélyes merülés
Comment=Submarine Simulator Game
Comment[hu]=Tengeralattjáró szimulátor
Exec=dangerdeep
Icon=dftd_icon.xpm
Categories=Game;Simulation;X-UHU-Menu/Games/Action;
StartupNotify=true
Type=Application

