[Desktop Entry]
Name=Fast configurator for UHU
Name[hu]=UHU Gyorsbeállító
Exec=uhu-zeroconf
Icon=gnome-terminal.png
Type=Application
Categories=X-UHU-Menu/Settings;
