[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=cdw
Comment=CD writing frontend
Comment[hu]=CD-író előtét program
Icon=/usr/share/cdw/pixmaps/cdw.png
Exec=cdw
Terminal=true
Categories=X-UHU-Menu/Multimedia/CDwriters;
