[Desktop Entry]
Type=Application
Name=aTunes
GenericName=aTunes Music Player
GenericName[hu]=aTunes zene lejátszó
Comment=Plays music
Comment[hu]=Zene lejátszó
Exec=atunes
TryExec=atunes
Icon=atunes
Terminal=false
Categories=Qt;AudioVideo;Audio;Player;
StartupNotify=false
