#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=aTunes
GenericName=aTunes Music Player
GenericName[hu]=aTunes zene lejátszó
Comment=Plays music
Comment[hu]=Zene lejátszó
Exec=atunes
TryExec=atunes
Icon=atunes
Terminal=false
Categories=AudioVideo;Player;Qt;X-UHU-Menu/Multimedia/MusicPlayers;
StartupNotify=false

